<p style="text-align: center; margin-top:10px;color:#FFF;background-color: #384F54;">
    <a style="color: #FFF;" target="_blank" href="{{moodle_url}}/local/staticpage/view.php?page=mentions_legales"' }}> mentions légales </a>
    <strong>. </strong>
    <a style="color: #FFF;" target="_blank" href="{{moodle_url}}/local/staticpage/view.php?page=rgpd"' }}> vie privée </a>
    <strong> . </strong>
    <a style="color: #FFF;" target="_blank" href="{{moodle_url}}/local/staticpage/view.php?page=charte_utilisation">charte utilisation </a>
    <strong> . </strong>
    <a style="color: #FFF;" target="_blank" title="Unicaen" href="http://www.unicaen.fr"> unicaen </a>
    <strong> . </strong>
    <a style="color: #FFF;" target="_blank" href="https://pedagogie.unicaen.fr/"> cemu </a>
    <strong> . </strong>
    <a style="color: #FFF;" target="_blank" href="http://moodle.org/">moodle </a>
</p>
<p style="text-align:center;color:#FFF;background-color: #384F54;">
    <a href="https://www.facebook.com/unicaen/" style="padding-right:1em; width: 2em;" target="_blank" title="Facebook - Nouvelle fenêtre">
        <i class="fa-brands fa-facebook-f" style="color: #FFF;"></i>
    </a>
    <a href="https://twitter.com/universite_caen" style="padding-right:1em;" target="_blank" title="Twitter - Nouvelle fenêtre">
        <i class="fa-brands fa-twitter" style="color: #FFF;"></i>
    </a>
    <a href="https://www.youtube.com/user/universitecaen" style="margin-right:1em;" target="_blank" title="Youtube - Nouvelle fenêtre">
        <i class="fa-brands fa-youtube" style="color: #FFF;"></i>
    </a>
    <a href="https://instagram.com/universitecaen/" style="padding-right:1em;" target="_blank" title="Instagram - Nouvelle fenêtre">
        <i class="fa-brands fa-instagram " style="color: #FFF;"></i>
    </a>
    <a href="https://www.linkedin.com/school/universite-de-caen-normandie/mycompany/" style="padding-right:1em;" target="_blank" title="Linkedin - Nouvelle fenêtre">
        <i class="fa-brands fa-linkedin-in" style="color: #FFF;"> </i>
    </a>
</p>
