<?php
// Fichier de config de Moodle

// GERE PAR ANSIBLE

unset($CFG);  // Ignore this line
global $CFG;  // This is necessary here for PHPUnit execution
$CFG = new stdClass();

//=========================================================================
// 1. DATABASE SETUP
//=========================================================================

//...

//=========================================================================
// 2. WEB SITE LOCATION
//=========================================================================

//...
