		<Directory  {{moodle_dir}}/auth/shibboleth/index.php>

		</Directory>

		## Configuration du WAYF

		<Directory {{www_dir}}/.../wayf/www>

		</Directory>

		# page de deboguage des attributs reçus lors de la dernière authentification Shibboleth
		#<Location /shibenv.php>

		#</Location>
