<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AIDE GÉNÉRALE</title>
		<link rel="stylesheet" href="style.css">
	</head>
  <body>

	<h2 class="h3">ASSISTANCE TECHNIQUE</h2>
		<ul>
			<li>Problèmes de connexion, mot de passe, configuration cours etc :
			<a target ="_blank" href="{{moodle_url}}/local/staticpage/view.php?page=assistance_technique">Assistance technique</a></li>

			<li>Vérifier la configuration requise pour l'utilisation des plateformes de cours en ligne :
			<a target="_blank" href="{{moodle_url}}/local/staticpage/view.php?page=configuration_requise">Configuration requise</a></li>
		</ul>

  </body>
</html>
