<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viexport" content="width=device-width, initial-scale=1">
<title>A propos des plateformes d'enseignement en ligne</title>
</head>
<body>
	 <p> <strong>L’Université de Caen Normandie administre trois plateformes de formation en ligne. Ces plateformes s'appuient sur le logiciel <a href="https://moodle.org/" target="_blank">Moodle</a>.
	  Sur chacune de ces plateformes, chaque enseignement correspond à un espace de cours</strong>. </p>

     <div class ="plateforme">
...
</body>
</html>
